# Exam 2 Review

#### For this Review, we will be using Stroke data provided by WHO. The dataset is used to predict whether a patient is likely to get stroke based on the input parameters like gender, age, various diseases, and smoking status 
<ul> 
    <li>id: unique identifier</li>
    <li>gender: "Male", "Female" or "Other"</li>
    <li>age: age of the patient</li>
    <li>hypertension: 0 if the patient doesn't have hypertension, 1 if the patient has hypertension</li>
    <li>heart_disease: 0 if the patient doesn't have any heart diseases, 1 if the patient has a heart disease</li>
    <li>ever_married: "No" or "Yes"</li>
    <li>work_type: 'Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'</li>
    <li>Residence_type: "Rural" or "Urban"</li>
    <li>avg_glucose_level: average glucose level in blood</li>
    <li>bmi: body mass index</li>
    <li>smoking_status: "formerly smoked", "never smoked", "smokes" or "Unknown"*</li>
    <li>stroke: 1 if the patient had a stroke or 0 if not -- <b>Class label column</b> </li>
</ul>
*Note: "Unknown" in smoking_status means that the information is unavailable for this patient

In [2]:
#Please run this cell before answering the following questions 
import numpy as np
import pandas as pd

df=pd.read_csv('https://raw.githubusercontent.com/rpi-techfundamentals/website_fall_2022/master/site/public/newdf.csv')
df.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Male,gender_Other,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.600000,1,1,0,1,0,1,0,0,1,1,0,0
1,61.0,0,0,202.21,28.893237,1,0,0,1,0,0,1,0,0,0,1,0
2,80.0,0,1,105.92,32.500000,1,1,0,1,0,1,0,0,0,0,1,0
3,49.0,0,0,171.23,34.400000,1,0,0,1,0,1,0,0,1,0,0,1
4,79.0,1,0,174.12,24.000000,1,0,0,1,0,0,1,0,0,0,1,0



1. Perform standardization on **only** the nonbinary columns using the `StandardScaler()`, creating a final `DataFrame` `df2` that has all the columns and column names of the origional dataframe.

In [3]:
from sklearn.preprocessing import StandardScaler

#Your answer
CONTINUOUS_NUMERIC_COLUMNS = ["age", "avg_glucose_level", "bmi"]
df2 = df.copy()
df2[CONTINUOUS_NUMERIC_COLUMNS] = StandardScaler().fit_transform(df[CONTINUOUS_NUMERIC_COLUMNS])
df2

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Male,gender_Other,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1.051434,0,1,2.706375,1.001234,1,1,0,1,0,1,0,0,1,1,0,0
1,0.786070,0,0,2.121559,0.000000,1,0,0,1,0,0,1,0,0,0,1,0
2,1.626390,0,1,-0.005028,0.468577,1,1,0,1,0,1,0,0,0,0,1,0
3,0.255342,0,0,1.437358,0.715418,1,0,0,1,0,1,0,0,1,0,0,1
4,1.582163,1,0,1.501184,-0.635711,1,0,0,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,1.626390,1,0,-0.494658,0.000000,0,0,0,1,0,1,0,0,1,0,1,0
5106,1.670617,0,0,0.420775,1.442949,0,0,0,1,0,0,1,0,1,0,1,0
5107,-0.363842,0,0,-0.511443,0.221736,0,0,0,1,0,0,1,0,0,0,1,0
5108,0.343796,0,0,1.328257,-0.427845,0,1,0,1,0,1,0,0,0,1,0,0
5109,0.034205,0,0,-0.460867,-0.349895,0,0,0,1,0,0,0,0,1,0,0,0


2. Transform the data using principal component analysis to include the top 5 components. The result should be an numpy array with the default column numbers and called `pca1`.

In [4]:
from sklearn.decomposition import PCA

#Your answer
pca_5_components = PCA(n_components=5)
pca1 = pca_5_components.fit_transform(df2)
pca1

array([[ 2.57206124, -1.82560776,  0.38328794,  0.25214804, -0.89837168],
       [ 1.55660204, -1.70834846, -0.3682611 ,  0.02841292,  1.17063408],
       [ 1.50236952,  0.49996938, -0.75000128, -0.50661675, -0.03075054],
       ...,
       [-0.1944439 ,  0.53217442,  0.10133747,  0.159054  ,  1.18787663],
       [ 0.68511938, -1.2403788 , -0.33913944, -0.0769096 , -0.88478981],
       [-0.3543788 ,  0.28669177, -0.44316313,  0.33822216,  0.1579709 ]])

3a. Transform the data using principal component analysis to include the 90% of the variance. The result should be an numpy array with the default column numbers and called `pca2`.  

3b. Determine the percent of the variance explained by the 5 components in `pca1` and assign the value (0-1.0) to the variable `pca1_var`.

In [5]:
# Your answer
pca_90_percent_variance = PCA(0.9)
pca2 = pca_90_percent_variance.fit_transform(df2)
pca1_var = pca_5_components.explained_variance_ratio_.sum()
pca1_var

0.7807049382532658

4. Determine the number of components in `pca2` that explain 90% of the variance and assign the value to the `pca2_comp`.

In [6]:
# Your answer
pca2_comp = pca_90_percent_variance.n_components_
pca2_comp

8

5. Create a cluster analysis using K-means and 4 clusters.

In [7]:
from sklearn.cluster import KMeans

# Your answer

kmeans = KMeans(n_clusters=4)
kmeans.fit(df2)
kmeans.labels_

array([0, 0, 3, ..., 3, 0, 3], dtype=int32)

6. Predict `stroke` using 3 different classifiers and evaluate with 3 different approriate evaluation metrics.

In [8]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier

# Your answer
y = df2["stroke"]
X = df2.drop(columns="stroke")


for classifier in (
    DecisionTreeClassifier(),
    AdaBoostClassifier(),
    RandomForestClassifier()
):
    print(classifier.__class__.__name__, "5-fold cross-validation score:", cross_val_score(classifier, X, y, cv=5).mean())

DecisionTreeClassifier 5-fold cross-validation score: 0.9111545988258317

/Users/minor/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but AdaBoostClassifier was fitted with feature names
  warnings.warn(
/Users/minor/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but AdaBoostClassifier was fitted with feature names
  warnings.warn(
/Users/minor/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but AdaBoostClassifier was fitted with feature names
  warnings.warn(
/Users/minor/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but AdaBoostClassifier was fitted with feature names
  warnings.warn(
/Users/minor/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but AdaBoostClassifier was fitted with feature names
  warnings.warn(

AdaBoostClassifier 5-fold cross-validation score: 0.950880626223092
RandomForestClassifier 5-fold cross-validation score: 0.9500978473581213

7. Predict `age` using 3 different regression models and evaluate with 3 different appropriate evaluation metrics.

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.tree import DecisionTreeRegressor

# Your answer
y = df2["age"]
X = df2.drop(columns="age")

for regressor in (
    LinearRegression(),
    DecisionTreeRegressor(),
    Ridge(),
):
    print(regressor.__class__.__name__, "score:", cross_val_score(regressor, X, y, cv=5).mean())

LinearRegression score: 0.6443895519241006
DecisionTreeRegressor score: 0.34054441377664657
Ridge score: 0.6443542294995034