In [ ]:
# Pandas exercises 2

In [16]:
# Load a DataFrame from https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

import pandas as pd
raw_df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter='\t')

In [17]:
# Show the first and last 5 rows of the Chipotle DataFrame

raw_df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [18]:
raw_df.tail(5)

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [19]:
# Print the number of rows in the Chipotle DataFrame

print(len(raw_df))

4622

In [20]:
# Count the number of missing/NULL values in the Chipotle DataFrame choice_description column

raw_df["choice_description"].isnull().sum()

1246

In [21]:
# Count how many items were ordered in total.

raw_df["quantity"].sum()

4972

In [26]:
# Convert the Chipotle item_price to a float and assign the result to a new DataFrame

typed_df = raw_df.copy()
typed_df["item_price"] = raw_df["item_price"].apply(lambda cell: float(cell.lstrip('$')))
typed_df["item_price"]

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [29]:
# Print the total revenue represented by the dataset.

order_price_df = typed_df.copy()
order_price_df["order_price"] = typed_df["quantity"] * typed_df["item_price"]
order_price_df["order_price"].sum()
# Or simply (typed_df["quantity"] * typed_df["item_price"]).sum()

39237.02