In [ ]:
# Pandas exercises

In [10]:
# Import pandas in the usual way, with the alias pd

import pandas as pd

In [11]:
# Create a 10-element Series from a random numpy array

import numpy as np

random_series = pd.Series(np.random.uniform(0, 100, 10))
random_series

0    20.328538
1    35.321803
2     9.417810
3    59.029990
4    64.688387
5    86.554039
6    15.369863
7    71.820776
8    62.248369
9     7.790455
dtype: float64

In [12]:
# Create a 4-element series with random values and corresponding row labels ['a', 'b', 'c', 'd']

random_series = pd.Series(np.random.uniform(0, 100, 4), index=['a', 'b', 'c', 'd'])
random_series

a    19.261994
b    76.672279
c    44.829662
d    18.240147
dtype: float64

In [13]:
# Create a DataFrame with two random 10-element Series, 'x' and 'y'

two_column_random_df = pd.DataFrame({
    "x": pd.Series(np.random.uniform(0, 100, 10)),
    "y": pd.Series(np.random.uniform(0, 100, 10))
})
two_column_random_df

           x          y
0  13.647862  12.987339
1   6.233356  25.511210
2  88.613831  31.313947
3  28.284107  59.831789
4  64.564218  42.734750
5  34.090751  27.819708
6  47.336691  57.201087
7   4.490989  29.564493
8  73.934452  58.788750
9  44.435760  61.935974

In [14]:
# Show the first and last 5 rows of the above DataFrame

two_column_random_df.head(5)

           x          y
0  13.647862  12.987339
1   6.233356  25.511210
2  88.613831  31.313947
3  28.284107  59.831789
4  64.564218  42.734750

In [15]:
two_column_random_df.tail(5)

           x          y
5  34.090751  27.819708
6  47.336691  57.201087
7   4.490989  29.564493
8  73.934452  58.788750
9  44.435760  61.935974

In [18]:
# Show the names and datatypes of the columns in the above DataFrame

two_column_random_df.dtypes

x    float64
y    float64
dtype: object

In [20]:
# Create a DataFrame with two Series that have two row labels in common and two not in common. Show that the resulting DataFrame has missing values for the not-in-common row labels.

sparse_df = pd.DataFrame({
    "x": pd.Series(np.random.uniform(0, 100, 4), index=['a', 'b', 'c', 'd']),
    "y": pd.Series(np.random.uniform(0, 100, 4), index=['a', 'b', 'e', 'f'])
})
sparse_df

           x          y
a  49.156586  66.944594
b  32.934048  19.911745
c  93.907446        NaN
d  64.076532        NaN
e        NaN  21.398238
f        NaN  16.949554