In [20]:
# Create a list of integers with the range [0, 9] inclusive.

int_list = list(range(10))

In [21]:
# Assign the third element of the list to the integer 15
int_list[2] = 15

In [22]:
# Convert the list into a tuple and print a slice of the first 5 elements
int_tuple = tuple(int_list)
int_tuple[:5]

(0, 1, 15, 3, 4)

In [23]:
# Create a dict with the integer tuple elements as keys and the square of the respective integers as values

# Two approaches

# Build up the dictionary
d = {}
for i in int_tuple:
    d[i] = i ** 2
print(d)

# Use a dict comprehension
{i: i ** 2 for i in int_tuple}

{0: 0, 1: 1, 15: 225, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

{0: 0, 1: 1, 15: 225, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [24]:
# Given the following sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
# Compute the intersection and union
set1.intersection(set2)
set2.union(set2)

{3, 4, 5, 6}

In [25]:
# Define a function that tests whether a string is a palindrome or not
# This is a classic interview question for testing whether you know the rudiments of a programming language you claim you know.
def is_palindrome(s):
    return s == s[::-1]  # is s equal to the reverse of itself?
assert is_palindrome("anna")
assert not is_palindrome("craft")
assert is_palindrome("saippuakivikauppias")

In [26]:
# Create a numpy array with the range [0, 99] inclusive and find its mean
import numpy as np
int_array = np.array(range(100))
int_array.mean()

49.5

In [27]:
# Create a Pandas DataFrame with two columns "x" and "y". "x" should be the integers [0, 99] and "y" the corresponding square of the "x"
import pandas as pd
x_y_df = pd.DataFrame({"x": list(range(100)), "y": [i ** 2 for i in range(100)]})
# Alternatively, build up x and y similar to the "Create a dict" approach above
x_y_df

     x     y
0    0     0
1    1     1
2    2     4
3    3     9
4    4    16
..  ..   ...
95  95  9025
96  96  9216
97  97  9409
98  98  9604
99  99  9801

[100 rows x 2 columns]

In [28]:
# Add a third column, "z", to the DataFrame that is the cube of "x", using .apply
x_y_z_df = x_y_df.copy()
x_y_z_df["z"] = x_y_z_df["x"].apply(lambda cell: cell ** 3)
x_y_z_df

     x     y       z
0    0     0       0
1    1     1       1
2    2     4       8
3    3     9      27
4    4    16      64
..  ..   ...     ...
95  95  9025  857375
96  96  9216  884736
97  97  9409  912673
98  98  9604  941192
99  99  9801  970299

[100 rows x 3 columns]

In [29]:
# Given the Ames housing dataset ames.csv on the Piazza Resources page,
# Load the dataset into a DataFrame
ames_raw_df = pd.read_csv("ames.csv")
ames_raw_df

,Order,PID,area,price,MS.SubClass,MS.Zoning,Lot.Frontage,Lot.Area,Street,Alley,...,Screen.Porch,Pool.Area,Pool.QC,Fence,Misc.Feature,Misc.Val,Mo.Sold,Yr.Sold,Sale.Type,Sale.Condition
0,1,526301100,1656,215000,20,RL,141.0,31770,Pave,NaN,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
1,2,526350040,896,105000,20,RH,80.0,11622,Pave,NaN,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
2,3,526351010,1329,172000,20,RL,81.0,14267,Pave,NaN,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
3,4,526353030,2110,244000,20,RL,93.0,11160,Pave,NaN,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
4,5,527105010,1629,189900,60,RL,74.0,13830,Pave,NaN,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,1003,142500,80,RL,37.0,7937,Pave,NaN,...,0,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal
2926,2927,923276100,902,131000,20,RL,NaN,8885,Pave,NaN,...,0,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal
2927,2928,923400125,970,132000,85,RL,62.0,10441,Pave,NaN,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
2928,2929,924100070,1389,170000,20,RL,77.0,10010,Pave,NaN,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Normal
2929,2930,924151050,2000,188000,60,RL,74.0,9627,Pave,NaN,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [30]:
# Print the row with the "PID" 903233120
ames_raw_df[ames_raw_df["PID"] == 903233120]

,Order,PID,area,price,MS.SubClass,MS.Zoning,Lot.Frontage,Lot.Area,Street,Alley,...,Screen.Porch,Pool.Area,Pool.QC,Fence,Misc.Feature,Misc.Val,Mo.Sold,Yr.Sold,Sale.Type,Sale.Condition
199,200,903233120,1536,138400,50,RM,52.0,6240,Pave,NaN,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal

In [31]:
# Show the unique values in the Utilities column
ames_raw_df["Utilities"].unique()

array(['AllPub', 'NoSewr', 'NoSeWa'], dtype=object)

In [32]:
# Dummy-encode the "Utilities" column
ames_dummy_df = pd.get_dummies(ames_raw_df, columns=["Utilities"])
ames_dummy_df

,Order,PID,area,price,MS.SubClass,MS.Zoning,Lot.Frontage,Lot.Area,Street,Alley,...,Fence,Misc.Feature,Misc.Val,Mo.Sold,Yr.Sold,Sale.Type,Sale.Condition,Utilities_AllPub,Utilities_NoSeWa,Utilities_NoSewr
0,1,526301100,1656,215000,20,RL,141.0,31770,Pave,NaN,...,NaN,NaN,0,5,2010,WD,Normal,1,0,0
1,2,526350040,896,105000,20,RH,80.0,11622,Pave,NaN,...,MnPrv,NaN,0,6,2010,WD,Normal,1,0,0
2,3,526351010,1329,172000,20,RL,81.0,14267,Pave,NaN,...,NaN,Gar2,12500,6,2010,WD,Normal,1,0,0
3,4,526353030,2110,244000,20,RL,93.0,11160,Pave,NaN,...,NaN,NaN,0,4,2010,WD,Normal,1,0,0
4,5,527105010,1629,189900,60,RL,74.0,13830,Pave,NaN,...,MnPrv,NaN,0,3,2010,WD,Normal,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,1003,142500,80,RL,37.0,7937,Pave,NaN,...,GdPrv,NaN,0,3,2006,WD,Normal,1,0,0
2926,2927,923276100,902,131000,20,RL,NaN,8885,Pave,NaN,...,MnPrv,NaN,0,6,2006,WD,Normal,1,0,0
2927,2928,923400125,970,132000,85,RL,62.0,10441,Pave,NaN,...,MnPrv,Shed,700,7,2006,WD,Normal,1,0,0
2928,2929,924100070,1389,170000,20,RL,77.0,10010,Pave,NaN,...,NaN,NaN,0,4,2006,WD,Normal,1,0,0
2929,2930,924151050,2000,188000,60,RL,74.0,9627,Pave,NaN,...,NaN,NaN,0,11,2006,WD,Normal,1,0,0

In [33]:
# Standard-scale the "price" column

from sklearn.preprocessing import StandardScaler
ames_scaled_df = ames_raw_df.copy()
ames_scaled_df[["price"]] = StandardScaler().fit_transform(ames_raw_df[["price"]])
ames_scaled_df

,Order,PID,area,price,MS.SubClass,MS.Zoning,Lot.Frontage,Lot.Area,Street,Alley,...,Screen.Porch,Pool.Area,Pool.QC,Fence,Misc.Feature,Misc.Val,Mo.Sold,Yr.Sold,Sale.Type,Sale.Condition
0,1,526301100,1656,0.428229,20,RL,141.0,31770,Pave,NaN,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
1,2,526350040,896,-0.948957,20,RH,80.0,11622,Pave,NaN,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
2,3,526351010,1329,-0.110125,20,RL,81.0,14267,Pave,NaN,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
3,4,526353030,2110,0.791305,20,RL,93.0,11160,Pave,NaN,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
4,5,527105010,1629,0.113980,60,RL,74.0,13830,Pave,NaN,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,1003,-0.479462,80,RL,37.0,7937,Pave,NaN,...,0,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal
2926,2927,923276100,902,-0.623440,20,RL,NaN,8885,Pave,NaN,...,0,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal
2927,2928,923400125,970,-0.610920,85,RL,62.0,10441,Pave,NaN,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
2928,2929,924100070,1389,-0.135165,20,RL,77.0,10010,Pave,NaN,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Normal
2929,2930,924151050,2000,0.090192,60,RL,74.0,9627,Pave,NaN,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [34]:
# Replace nulls in the "Lot.Frontage" column with the median of the column

from sklearn.impute import SimpleImputer
non_null_df = ames_raw_df.copy()
non_null_df[["Lot.Frontage"]] = SimpleImputer(strategy="median").fit_transform(non_null_df[["Lot.Frontage"]])
non_null_df

,Order,PID,area,price,MS.SubClass,MS.Zoning,Lot.Frontage,Lot.Area,Street,Alley,...,Screen.Porch,Pool.Area,Pool.QC,Fence,Misc.Feature,Misc.Val,Mo.Sold,Yr.Sold,Sale.Type,Sale.Condition
0,1,526301100,1656,215000,20,RL,141.0,31770,Pave,NaN,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
1,2,526350040,896,105000,20,RH,80.0,11622,Pave,NaN,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
2,3,526351010,1329,172000,20,RL,81.0,14267,Pave,NaN,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
3,4,526353030,2110,244000,20,RL,93.0,11160,Pave,NaN,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
4,5,527105010,1629,189900,60,RL,74.0,13830,Pave,NaN,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,1003,142500,80,RL,37.0,7937,Pave,NaN,...,0,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal
2926,2927,923276100,902,131000,20,RL,68.0,8885,Pave,NaN,...,0,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal
2927,2928,923400125,970,132000,85,RL,62.0,10441,Pave,NaN,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
2928,2929,924100070,1389,170000,20,RL,77.0,10010,Pave,NaN,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Normal
2929,2930,924151050,2000,188000,60,RL,74.0,9627,Pave,NaN,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [41]:
# Given the following lists of predicted and actual class labels

predicted = [0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0]
actual = [0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0]

# Calculate the confusion matrix, accuracy, precision, recall, and F1 score using sklearn metrics
from sklearn import metrics
tn, fp, fn, tp = metrics.confusion_matrix(actual, predicted).ravel()
print("False negative (metric):", fn)
print("False positive (metric):", fp)
print("True negative (metric):", tn)
print("True positive (metric):", tp)
print("Accuracy (metric):", metrics.accuracy_score(actual, predicted))
print("Precision (metric):", metrics.precision_score(actual, predicted))
print("Recall (metric):", metrics.recall_score(actual, predicted))
print("F1 (metric):", metrics.f1_score(actual, predicted))

print()

# Alternatively, calculate the confusion matrix by hand
tp = fp = fn = tn = 0
for i in range(len(predicted)):
    if predicted[i] == actual[i]:
        if predicted[i] == 1:
            tp += 1
        else:
            tn += 1
    else:
        if actual[i] == 1:
            fn += 1
        else:
            fp += 1

print("False negative (hand):", fn)
print("False positive (hand):", fp)
print("True negative (hand):", tn)
print("True positive (hand):", tp)
# Then calculate the metrics with the formulas e.g.,
print("Accuracy (hand):", (tp + tn) / (tp + tn + fp + fn))

False negative (metric): 2
False positive (metric): 3
True negative (metric): 11
True positive (metric): 9
Accuracy (metric): 0.8
Precision (metric): 0.75
Recall (metric): 0.8181818181818182
F1 (metric): 0.7826086956521738

False negative (hand): 2
False positive (hand): 3
True negative (hand): 11
True positive (hand): 9
Accuracy (hand): 0.8

In [ ]:
tp